/* GENERAL */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter' ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}
a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    font-size: 15px;
}
ul{
    list-style: none;
}
/* images */
.image img{
    border-radius: 50%;
    width: 40%;
}
/* Bloc centrer */
.wrapper{
    
    max-width: 400px;
    padding:10px;
    background-color:hsl(0, 0%, 12%);
    width: 90%;
    text-align: center;
    border-radius: 12px ;

    
}
/* Texte */

.contenu p{
    font-size: 17px;
    margin-bottom:3%;
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;

}
.contenu h3{
    font-size: 27px;
    margin: 10px;
    color: hsl(0, 0%, 100%);  
    font-weight: 400; 
}
.contenu h4{
    font-size: 14px;
    color:  hsl(75, 94%, 57%);
    font-weight: 900;
    padding-bottom: 20px;
}
/* Bouton */

ul li {
    margin-bottom:5%;
    background-color: hsl(0, 0%, 18%);
    border-radius: 5px;
    padding: 10px 0;
}
ul a {
    font-size: 14px;
    font-weight: 400;   
}
/* Effet survole */
ul li:hover{
    background-color:  hsl(75, 94%, 57%) ;
    font-weight: 400;
}

@media screen and (max-width:830px) {
.wrapper{
    width: 80%;
}
img{
    margin-top: 10px;
}
}

@media screen and (max-width:190px) {
.wrapper{
    width: 90%;
}
img{
    margin-top: 10px;
}
}

